,
"${app_name}": {
      "class": "Application",
      "service": {
        "class": "Service_TCP",
        "virtualAddresses": ${vs_server_address},
        "virtualPort": ${vs_server_port},
        "pool": "${pool_name}"
      },
      "${pool_name}": {
        "class": "Pool",
        "monitors": ["tcp"],
        "members": [
          {
              "servicePort": ${service_port},
              "serverAddresses": ${service_address},
              "shareNodes": true
          }
        ]
      }
    }